<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<link rel="stylesheet" href="./node_modules/bootstrap/dist/css/bootstrap.css">
</head>
<body ng-app="ficalc">

	<section ng-controller="CalcController">
		<div><label for="salary">Salary:</label><input type="text" id="salary" ng-model="figures.salary"  /></div>
		<div><label for="40x">403 contribution:</label><input type="text" id="40x" ng-model="figures.contrib" /></div>
		<div><label for="principal">Principal:</label><input type="text" id="principal" ng-model="figures.princ" ng-change="calculateTotal()" /></div>
		<div><label for="amt">Annual Amount Invested:</label><input type="text" id="amt" ng-model="figures.invested" ng-change="calculateTotal()" /></div>
		<div><label for="rate">Rate: </label><input type="text" id="rate" ng-model="figures.rate"></div>
		<div><label for="years">Years to Invest:</label><input type="text" id="years" ng-model="figures.yrs" ng-change="calculateTotal()" /></div>
		<div><label for="total">Annual Investment Total:</label>{{figures.invttl|currency}}</div>
		<div><label for="principalalone">Principal Alone:</label>{{figures.ttl|currency}}</div>
	</section>	
	<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.3/angular.js"></script>
	<script src="calc.js"></script>
</body>
</html>